<div th:fragment="edittimeorder">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Edit an existing Time Order</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <form method="post" th:action="@{/timeorders/edit/check}" th:object="${timeOrder}">
                    <fieldset>
                        <input type="hidden" th:field="*{timeOrder.timeOrderId}">
                        <input type="hidden" th:field="*{timeOrder.owner}">
                        <input type="hidden" th:field="*{timeOrder.module}">

                        <div class="form-group">
                            <label class="col-form-label mt-4" for="inputStart">Start</label>
                            <input type="datetime-local" class="form-control" id="inputStart" placeholder="Enter Time Order Start" th:field="*{startString}" required>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label mt-4" for="inputEnd">End</label>
                            <input type="datetime-local" class="form-control" id="inputEnd" placeholder="Enter Time Order End" th:field="*{endString}" required>

                        </div>
                    </fieldset>
                    <button type="submit" class="btn btn-info btn-lg col-12 mt-5" id="submitButton">Change!</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6 mt-5">
                <div class="alert alert-dismissible alert-danger">
                    <strong>Proceed with caution!</strong> You are entering the danger zone.
                </div>
            </div>
            <form method="post" th:action="@{/timeorders/delete}" th:object="${timeOrder}">
                <fieldset class="form-group">
                    <input type="hidden" th:field="*{timeOrder.timeOrderId}">
                    <legend class="mt-4">Delete Time Order</legend>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkboxDelete">
                        <label class="form-check-label" for="checkboxDelete">
                            Delete
                        </label>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-info btn-lg col-12 mt-5" id="submitButtonDelete">Delete!</button>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/js/timeDateValidation.js"></script>
    <script type="text/javascript" src="/js/configureDeleteButton.js"></script>
</div>
