<div th:fragment="studenthome">
    <div class="container">
        <div class="bs-docs-section">
            <div class="row">
                <div th:replace="common/quicktimeorder :: quicktimeorder(modules=${modules}, moduleShell=${moduleShell}, timeOrder=${timeOrder})"/>
            </div>

            <div class="col-lg-6">
                <div class="d-grid gap-2">
                    <form th:action="@{/timeorders}" method="get">
                        <button class="btn btn-lg btn-primary col-12 mt-4" type="submit">Administrate Time Orders</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="bs-docs-section">
            <div class="row">
                <div class="col-lg-6" th:if="${moduleResults} != null">
                    <div class="bs-component">
                        <legend>Modules</legend>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Your Modules</th>
                                    <th scope="col">Total Time Invest</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="result, iStat: ${moduleResults}" th:classappend="${iStat.odd} ? table-info : table-primary">
                                    <th scope="row" th:text="${result.module}"/>
                                    <td th:text="${result.timeInvest.timeDuration}"/>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-grid gap-2">
                            <form action="modules" method="get">
                                <button class="btn btn-lg btn-primary col-12" type="submit">Administrate Modules</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" th:if="${timeDurationToday != null && timeDurationWeek != null}">
                    <div class="bs-component">
                        <legend>Statistics</legend>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Working Hours</th>
                                <th scope="col">Time Range</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="table-primary">
                                <th scope="row">Today</th>
                                <th scope="row" th:text="${timeDurationToday}"></th>
                            </tr>
                            <tr class="table-info">
                                <th scope="row">This Week</th>
                                <th scope="row" th:text="${timeDurationWeek}"></th>
                            </tr>
                            </tbody>
                        </table>
                        <div class="d-grid gap-2">
                            <form action="statistics" method="get">
                                <button class="btn btn-lg btn-primary col-12" type="submit">More</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>