<div th:fragment="studenthome">
    <div class="container">
        <div class="bs-docs-section">
            <div class="row">
                <div class="col-lg-4">
                    <div class="bs-component">
                        <legend>Modules</legend>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Your Modules</th>
                                    <th scope="col">Total Time Invest</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-primary">
                                    <th scope="row">Course 1</th>
                                    <th scope="row">Invest 1</th>
                                </tr>
                                <tr class="table-info">
                                    <th scope="row">Course 2</th>
                                    <th scope="row">Invest 2</th>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-grid gap-2">
                            <form action="modules" method="get">
                                <button class="btn btn-lg btn-primary col-12" type="submit">Administrate Modules</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card border-info mb-3" style="max-width: 20rem;">
                        <div class="card-body">
                            <h4 class="card-title">Current Time</h4>
                            <p class="card-text" id="paragraphClock"></p>
                        </div>
                    </div>
                    <div class="bs-component" th:if="${timeOrder == null}">
                        <form method="post" th:action="@{/timeorders/start}" th:object="${modules}">
                            <div class="form-group" id="formGroupModule">
                                <label for="selectModule" class="form-label mt-4">Module</label>
                                <select class="form-select" id="selectModule" th:field="${moduleShell.moduleId}">
                                    <option th:each="module : ${modules}" th:text="${module}" th:value="${module.moduleId}"></option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-info mt-4">Start New Time Order Now</button>
                        </form>
                    </div>

                    <div class="bs-component" th:if="${timeOrder != null}">
                        <form method="post" th:action="@{/timeorders/end}" th:object="${timeOrder}">
                            <input type="hidden" th:field="*{timeOrderId}">
                            <legend>Current Time Order</legend>
                            <table class="table table-hover">
                                <thead>
                                </thead>
                                <tbody>
                                <tr class="table-info">
                                    <th scope="row" th:text="${timeOrder.module}"/>
                                    <th scope="row" th:text="${'Start: ' + timeOrder.start}"/>
                                </tr>
                                </tbody>
                            </table>

                            <button type="submit" class="btn btn-info mt-4">End Current Time Order Now</button>
                        </form>
                    </div>

                    <div class="d-grid gap-2">
                        <form th:action="@{/timeorders}" method="get">
                            <button class="btn btn-lg btn-primary col-12 mt-4" type="submit">Administrate Time Orders</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bs-component">
                        <legend>Statistics</legend>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Working Hours</th>
                                <th scope="col">Time Range</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="table-primary">
                                <th scope="row">Today</th>
                                <th scope="row">5:32</th>
                            </tr>
                            <tr class="table-info">
                                <th scope="row">This Week</th>
                                <th scope="row">17:34</th>
                            </tr>
                            </tbody>
                        </table>
                        <div class="d-grid gap-2">
                            <form action="statistics" method="get">
                                <button class="btn btn-lg btn-primary col-12" type="submit">More</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/showClock.js"></script>
</div>