<div th:fragment="studentmodules">
    <div class="container">
        <div class="bs-docs-section">
            <div class="row">
                <div class="col-lg-12">
                    <h3 th:text="'Your Faculty: ' + ${faculty}"></h3>
                    <h3 th:text="'Your Major: ' + ${student.major}"></h3>
                    <h3 th:text="'Your ECTS: ' + ${student.ects}"></h3>
                </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="bs-component">
                        <legend>Your Modules</legend>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Module</th>
                                <th scope="col">ECTS</th>
                                <th scope="col">Credit Hours</th>
                                <th scope="col">Grade</th>
                                <th scope="col">Lecturer</th>
                                <th scope="col">Lecturer Contact</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="result, iStat: ${student.moduleResults}" th:classappend="${iStat.odd} ? table-info : table-primary">
                                <th scope="row" th:text="${result.module.name}"/>
                                <td th:text="${result.module.ects}"/>
                                <td th:text="${result.module.creditHours}"/>
                                <td th:text="${result.grade}"/>
                                <td th:if="${result.module.responsibleLecturer != null}" th:text="${result.module.responsibleLecturer.firstName + ' ' + result.module.responsibleLecturer.lastName}"/>
                                <td th:if="${result.module.responsibleLecturer != null}" th:text="${result.module.responsibleLecturer.mailAddress}"/>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-4">
                    <legend>More to study, more to do?</legend>
                    <div class="d-grid gap-2 mt-4">
                        <form action="modules/new">
                            <button class="btn btn-lg btn-primary col-12" type="submit">New Module</button>
                        </form>
                    </div>

                    <div class="d-grid gap-2 mt-4">
                        <button class="btn btn-lg btn-info col-12" type="button" data-toggle="modal" id="buttonWithdrawModule">Withdraw from Module</button>
                    </div>

                    <div class="modal" id="modalWithdrawModule">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Choose Module</h5>
                                </div>
                                <div class="modal-body">
                                    <form method="post" th:action="@{/modules/withdraw}" th:object="${modules}">
                                        <div class="form-group" id="formGroupModule">
                                            <label for="selectModule" class="form-label mt-4">Module</label>
                                            <select class="form-select" id="selectModule" th:field="${moduleShell.moduleId}">
                                                <option th:each="module : ${modules}" th:text="${module}" th:value="${module.moduleId}"></option>
                                            </select>
                                        </div>
                                        <button type="button" class="btn btn-info mt-4" data-dismiss="modal" id="buttonCloseWithdrawModuleModal">Close</button>
                                        <button type="submit" class="btn btn-info mt-4">Withdraw from Module</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bs-component">
                            <div th:each="statistics : ${durationStatistics}">
                                <legend th:text="${statistics.module}"></legend>
                                <table class="table table-hover">
                                    <thead>
                                    <tr></tr>
                                    </thead>
                                    <tbody>
                                    <tr class="table-primary">
                                        <th class="row">Your Time Invest</th>
                                        <th th:text="${statistics.currentDuration}"></th>
                                    </tr>
                                    <tr class="table-info">
                                        <th class="row">Estimated Time Invest</th>
                                        <th th:text="${statistics.estimatedDuration}"></th>
                                    </tr>
                                    <tr class="table-primary">
                                        <th class="row">Current Percentage</th>
                                        <th th:text="${statistics.currentPercentage * 100} + '%'"></th>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" th:style="'width: ' + ${statistics.currentPercentage * 100} +'%;'"  aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/configureModalDialogs.js">configureModalDialogs("Withdraw")</script>
</div>