<div th:fragment="studentstatistics">
    <div class="container">
        <div class="bs-docs-section">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Your Personal Statistics</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-component">
                        <legend>Your Modules</legend>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Module</th>
                                <th scope="col">ECTS</th>
                                <th scope="col">Credit Hours</th>
                                <th scope="col">Grade</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="result, iStat: ${moduleResults}" th:classappend="${iStat.odd} ? table-info : table-primary">
                                <th scope="row" th:text="${result.module.name}"/>
                                <td th:text="${result.module.ects}"/>
                                <td th:text="${result.module.creditHours}"/>
                                <td th:text="${result.grade}"/>
                                <td th:text="${result.timeInvest.timeDuration}"/>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-lg-6" th:if="${isPremium} == false">
                    <legend>More Statistics? Switch to Premium!</legend>
                    <div class="d-grid gap-2 mt-4">
                        <form action="change/premium">
                            <button class="btn btn-lg btn-primary col-12" type="submit">Get Premium Access</button>
                        </form>
                    </div>
                </div>

                <div class="container" th:if="${isPremium} == true">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="bs-component">
                                <legend>Your Time Statistics</legend>
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">Time Range</th>
                                        <th scope="col">Time Invest</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="table-primary">
                                        <th>Today</th>
                                        <td th:text="${timeStatisticsOverview.timeInvestDurationToday}"></td>
                                    </tr>
                                    <tr class="table-info">
                                        <th>Week</th>
                                        <td th:text="${timeStatisticsOverview.timeInvestDurationWeek}"></td>
                                    </tr>
                                    <tr class="table-primary">
                                        <th>Month</th>
                                        <td th:text="${timeStatisticsOverview.timeInvestDurationMonth}"></td>
                                    </tr>
                                    <tr class="table-info">
                                        <th>Year</th>
                                        <td th:text="${timeStatisticsOverview.timeInvestDurationYear}"></td>
                                    </tr>
                                    <tr class="table-primary">
                                        <th>Total</th>
                                        <td th:text="${timeStatisticsOverview.timeInvestDurationTotal}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="bs-component">
                                <legend>Your Overall Standing</legend>
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">Module</th>
                                        <th scope="col">Your Grade</th>
                                        <th scope="col">Average Grade</th>
                                        <th scope="col">Your Time Invest</th>
                                        <th scope="col">Average Time Invest</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="statistics, iStat: ${moduleStudentStatistics}" th:classappend="${iStat.odd} ? table-info : table-primary">
                                        <th scope="row" th:text="${statistics.module}"/>
                                        <td th:text="${statistics.studentGrade}"/>
                                        <td th:text="${statistics.averageGrade}"/>
                                        <td th:text="${statistics.studentTimeInvestDuration}"/>
                                        <td th:text="${statistics.averageTimeInvestDuration}"/>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div th:replace="common/modulestatistics :: modulestatistics"></div>
                </div>
            </div>
        </div>
    </div>
</div>