<div th:fragment="studenttimeorders">
    <div class="container">
        <div class="bs-docs-section">
            <div class="row">
                <div th:replace="common/quicktimeorder :: quicktimeorder(modules=${modules}, moduleShell=${moduleShell}, timeOrder=${timeOrder})"/>
            </div>
        </div>
        <div class="bs-docs-section">
            <div class="row">
                <div class="col-lg-6">
                    <div class="bs-component">
                        <legend>Your Time Order History</legend>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Module</th>
                                <th scope="col">Start</th>
                                <th scope="col">End</th>
                                <th scope="col">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="timeorder, iStat: ${timeorders}" th:classappend="${iStat.odd} ? table-info : table-primary">
                                <th scope="row" th:text="${timeorder.module.name}"/>
                                <td th:text="${timeorder.start}"/>
                                <td th:text="${timeorder.end}"/>
                                <td th:text="${timeorder.duration}"/>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6">
                        <legend>Wanna create or edit something?</legend>
                        <div class="d-grid gap-2 mt-4">
                            <form th:action="@{/timeorders/new}" method="get">
                                <button class="btn btn-lg btn-primary col-12" type="submit">New Time Order</button>
                            </form>
                        </div>

                        <div class="d-grid gap-2 mt-4">
                            <button class="btn btn-lg btn-info col-12" type="button" data-toggle="modal" id="buttonEditTimeOrder">Edit Time Order</button>
                        </div>

                        <div class="modal" id="modalEditTimeOrder">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Choose Time Order</h5>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" th:action="@{/timeorders/edit}" th:object="${timeorders}">
                                            <div class="form-group" id="formGroupModule">
                                                <label for="selectModule" class="form-label mt-4">Module</label>
                                                <select class="form-select" id="selectModule" th:field="${timeorderShell.timeOrderId}">
                                                    <option th:each="timeorder : ${timeorders}" th:text="${timeorder}" th:value="${timeorder.timeOrderId}"></option>
                                                </select>
                                            </div>
                                            <button type="button" class="btn btn-info mt-4" data-dismiss="modal" id="buttonCloseEditTimeOrderModal">Close</button>
                                            <button type="submit" class="btn btn-info mt-4">Edit Time Order</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/configureModalTimeOrderDialogs.js"></script>
</div>