<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="common/header :: header(title='Change User Data')"/>

<body class style>
<div th:replace="common/navigation :: navigation"/>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Change User Data</h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <form method="post" th:action="@{/change/check}" th:object="${user}">
                <fieldset>
                    <input type="hidden" th:field="*{userId}">
                    <div class="form-group row">
                        <div class="form-group">
                            <label class="col-form-label mt-4" for="inputFirstName">First Name</label>
                            <input type="text" class="form-control" id="inputFirstName" placeholder="Enter First Name" th:field="*{firstName}" required>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label mt-4" for="inputLastName">Last Name</label>
                            <input type="text" class="form-control" id="inputLastName" placeholder="Enter Last Name" th:field="*{lastName}" required>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="form-label mt-4">Email address</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Enter Email address" th:field="*{mailAddress}" required>
                        </div>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-info btn-lg col-12 mt-5">Change Data</button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <form method="get" th:action="@{/change/password}" th:object="${user}">
                <button type="submit" class="btn btn-info btn-lg col-12 mt-5">Change Password</button>
            </form>
        </div>

        <div class="col-lg-8 col-md-7 col-sm-6" th:if="${isLecturer} == true">
            <form method="get" th:action="@{/change/appointment}" th:object="${user}">
                <button type="submit" class="btn btn-info btn-lg col-12 mt-5" th:if="${isAuthenticated} == false">Authenticate for Appointment Service</button>
                <button type="submit" class="btn btn-info btn-lg col-12 mt-5" th:if="${isAuthenticated} == true">Revoke Authentication for Appointment Service</button>
            </form>
        </div>

        <div class="col-lg-8 col-md-7 col-sm-6" th:if="${isPremium} == false">
            <legend>Get More Statistics? Switch to Premium!</legend>
            <div class="d-grid gap-2 mt-4">
                <form action="change/premium">
                    <button class="btn btn-lg btn-primary col-12" type="submit">Get Premium Access</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6 mt-5">
            <div class="alert alert-dismissible alert-danger">
                <strong>Proceed with caution!</strong> You are entering the danger zone.
            </div>
        </div>
        <form method="post" th:action="@{/change/delete}" th:object="${user}">
            <fieldset class="form-group">
                <input type="hidden" th:field="*{userId}">
                <legend class="mt-4">Delete Account</legend>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkboxDelete">
                    <label class="form-check-label" for="checkboxDelete">
                        Delete
                    </label>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-info btn-lg col-12 mt-5" id="submitButtonDelete">Delete!</button>
        </form>
    </div>
</div>
<script type="text/javascript" src="/js/configureDeleteButton.js"></script>

<div th:replace="common/footer :: footer"/>

</body>
</html>
