<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="common/header :: header(title='New Course')"/>

<script type="text/javascript" src="/js/courseValidation.js"></script>
<script type="text/javascript" src="/js/configureDeleteButton.js"></script>

<body class style onload="validateCourse();configureDeleteButton()">

<div th:replace="common/navigation :: navigation"/>

<script type="text/javascript" src="/js/courseValidation.js"></script>


<div sec:authorize="hasAuthority('Lecturer')" th:replace="lecturer/editcourse :: editcourse"></div>

<div th:replace="common/footer :: footer"/>
</body>
</html>
