<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="common/header :: header(title='Error!')"/>

<body class style>
<div th:replace="common/navigation :: navigation"/>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Error</h1>
            <h2>More Information:</h2>
            <div class="alert alert-danger">
                <table th:if="${status} != 999">
                    <tr>
                        <td>Date</td>
                        <td th:text="${timestamp}"/>
                    </tr>
                    <tr>
                        <td>Path</td>
                        <td th:text="${path}"/>
                    </tr>
                    <tr>
                        <td>Error</td>
                        <td th:text="${error}"/>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td th:text="${status}"/>
                    </tr>
                </table>
                <div th:unless="${status} != 999">
                    <p>Wrong mail address or password!</p>
                </div>
            </div>
            <p>We are sorry for any inconveniences. Please contact us for any consisting errors.</p>
        </div>
        <div class="d-grid gap-2">
            <form action="/" method="get" th:if="${status} != 999">
                <button class="btn btn-lg btn-primary col-12" type="submit">Home</button>
            </form>

            <form action="/login" method="get" th:unless="${status} != 999">
                <button class="btn btn-lg btn-primary col-12" type="submit">Back to Login</button>
            </form>
        </div>
    </div>
</div>

<div th:replace="common/footer :: footer"/>
