<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="common/header :: header(title='Home')"/>


<body class style>
<div th:replace="common/navigation :: navigation"/>


<div class="container">
    <div class="row">
        <h2 th:text="'Hello ' + ${user.firstName}"></h2>
    </div>
</div>

<div sec:authorize="hasAuthority('Student')" th:replace="common/studenthome :: studenthome"></div>

<div sec:authorize="hasAuthority('Lecturer')" th:replace="common/lecturerhome :: lecturerhome"></div>

<div th:replace="common/footer :: footer"/>

</body>
</html>
