<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="common/header :: header(title='Login')"/>


<body class style>
<div th:replace="common/navigation :: navigation"/>


<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Login</h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <form method="post" th:action="@{/login/check}" th:object="${user}">
                <fieldset>
                    <div class="form-group">
                        <label for="inputEmail" class="form-label mt-4">Email address</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Enter Email address" th:field="*{mailAddress}" required>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="form-label mt-4">Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" th:field="*{password}" required>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-info btn-lg col-12 mt-5" id="submitButtonLogin">Login!</button>
            </form>
        </div>
    </div>
</div>

<div th:replace="common/footer :: footer"/>
</body>

</html>
