<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="common/header :: header(title='Change Password')"/>

<body class style>
<div th:replace="common/navigation :: navigation"/>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Change User Password</h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <form method="post" th:action="@{/change/password/check}" th:object="${passwordShell}">
                <fieldset>
                    <div class="form-group">
                        <label for="inputPassword" class="form-label mt-4">Old Password</label>
                        <input type="password" class="form-control" id="oldPassword" placeholder="Old Password" th:field="*{oldPassword}" required>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="form-label mt-4">New Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" th:field="*{newPassword}" required>
                    </div>
                    <div class="form-group">
                        <label for="inputPasswordConfirm" class="form-label mt-4">Confirm New Password</label>
                        <input type="password" class="form-control" id="inputPasswordConfirm" placeholder="Password" required>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-info btn-lg col-12 mt-5" id="submitButton">Change</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/passwordValidation.js"></script>

<div th:replace="common/footer :: footer"/>

</body>
</html>

