<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="common/header :: header(title='Privacy')"/>

<body class style>
<div th:replace="common/navigation :: navigation"/>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Privacy</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <ul>
                <li>Access to computers - and anything which might teach you  something about the way the world really works - should be unlimited and  total. Always yield to the Hands-On Imperative!</li>
                <li>All information should be free.</li>
                <li>Mistrust authority - promote decentralization.</li>
                <li>Hackers should be judged by their acting, not bogus criteria such as degrees, age, race, or position.</li>
                <li>You can create art and beauty on a computer.</li>
                <li>Computers can change your life for the better.</li>
                <li>Don't litter other people's data.</li>
                <li>Make public data available, protect private data.</li>
            </ul>
        </div>
    </div>
</div>

<div th:replace="common/footer :: footer"/>
</body>
</html>
