<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="common/header :: header(title='Registration')"/>

<body class style>
<div th:replace="common/navigation :: navigation"/>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Register for Studentrack</h1>
            <form>
                <fieldset>
                    <div class="form-group row">
                        <fieldset class="form-group">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionUserTypeRadioStudent" value="student" checked="">
                                    Student
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionUserTypeRadioLecturer" value="lecturer">
                                    Lecturer
                                </label>
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <label class="col-form-label mt-4" for="inputAcademicTitle">Academic Title</label>
                            <input type="text" class="form-control" id="inputAcademicTitle" placeholder="Enter Academic Title">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label mt-4" for="inputFirstName">First Name</label>
                            <input type="text" class="form-control" id="inputFirstName" placeholder="Enter First Name">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label mt-4" for="inputLastName">Last Name</label>
                            <input type="text" class="form-control" id="inputLastName" placeholder="Enter Last Name">
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="form-label mt-4">Email address</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Enter Email address">
                        </div>
                        <div class="form-group">
                            <label for="selectFaculty" class="form-label mt-4">Faculty</label>
                            <select class="form-select" id="selectFaculty">
                                <option>Dummy 1</option>
                                <option>Dummy 2</option>
                                <option>Dummy 3</option>
                                <option>Dummy 4</option>
                                <option>Dummy 5</option>
                            </select>
                        </div>
                        <div class="form-group" id="formGroupMajor">
                            <label for="selectMajor" class="form-label mt-4">Major</label>
                            <select class="form-select" id="selectMajor">
                                <option>Dummy 1</option>
                                <option>Dummy 2</option>
                                <option>Dummy 3</option>
                                <option>Dummy 4</option>
                                <option>Dummy 5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="form-label mt-4">Password</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="inputPasswordConfirm" class="form-label mt-4">Confirm Password</label>
                            <input type="password" class="form-control" id="inputPasswordConfirm" placeholder="Password">
                        </div>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-info btn-lg col-12 mt-5">Register!</button>
            </form>
        </div>
    </div>
</div>



<div th:replace="common/footer :: footer"/>
</body>
</html>
