<div th:fragment="editcourse">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Edit an existing course</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <p th:text="${course.courseId}"></p>
                <form method="post" th:action="@{/courses/edit/check}" th:object="${course}">
                    <fieldset>
                        <input type="hidden" th:field="*{courseId}">
                        <div class="form-group">
                            <label class="col-form-label mt-4" for="inputStartDate">Start Date</label>
                            <input type="date" class="form-control" id="inputStartDate" placeholder="Enter Start Date" th:field="*{startDate}" required>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label mt-4" for="inputEndDate">End Date</label>
                            <input type="date" class="form-control" id="inputEndDate" placeholder="Enter End Date" th:field="*{endDate}" required>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn btn-info btn-lg col-12 mt-5" id="submitButtonCourse">Change!</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6 mt-5">
                <div class="alert alert-dismissible alert-danger">
                    <strong>Proceed with caution!</strong> You are entering the danger zone.
                </div>
            </div>
            <form>
                <fieldset class="form-group">
                    <legend class="mt-4">Delete Course</legend>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkboxDelete">
                        <label class="form-check-label" for="checkboxDelete">
                            Delete
                        </label>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-info btn-lg col-12 mt-5" id="submitButtonDelete">Delete!</button>
            </form>
        </div>
    </div>

</div>
