<div th:fragment="lecturerhome">
<div class="container">
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-6" th:if="${modulesWithTimeDuration} != null">
                <div class="bs-component">
                    <legend>Courses</legend>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Your Modules</th>
                            <th scope="col">Total Time Invest</th></tr>
                        </thead>
                        <tbody>
                        <tr th:each="module, iStat: ${modulesWithTimeDuration.keySet()}" th:classappend="${iStat.odd} ? table-info : table-primary">
                            <th scope="row" th:text="${module}"/>
                            <td th:text="${modulesWithTimeDuration.get(module)}"/>
                        </tr>
                        </tbody>
                    </table>
                    <div class="d-grid gap-2">
                        <form action="modules" method="get">
                            <button class="btn btn-lg btn-primary col-12" type="submit">Administrate Modules</button>
                        </form>
                    </div>
                </div>
                <div th:replace="common/homestatistics :: homestatistics(timeDurationToday=${timeDurationToday}, timeDurationWeek=${timeDurationWeek})"/>
            </div>
        </div>
    </div>
</div>
</div>